# Terraform files
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/.terraformrc
**/terraform.rc
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# CloudFormation
**/.aws-sam/
**/packaged.yaml
**/packaged.yml
**/packaged.json
**/.cfn-lint-ignore

